body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  align-items: center;
  background-color: gray;
  justify-content: space-between;
  color: white;
  padding: 0 60px;
}

a {
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(255, 0, 255);
  margin-left: 10px;
}
