@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
}

header {
  display: flex;
  align-items: center;
  background-color: gray;
  justify-content: space-between;
  color: white;
  padding: 20px 60px;
}

a {
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(138, 0, 0);
  margin-left: 10px;
}

.active {
  color: rgb(255, 0, 0);
}

/* kitaplar sayfası */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
  gap: 50px;
}

.card {
  max-width: 290px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card:hover {
  box-shadow: 5px 10px 15px rgba(170, 0, 0, 0.315);
}
.card img {
  width: 100%;
}
.card-body {
  padding: 10px;
}

/* detay sayfası */

.detail-page {
  display: grid;
  place-items: center;
  height: calc(100vh - 90px);
}
.book-detail {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
  max-width: 1000px;
  padding: 50px;
  display: flex;
  gap: 50px;
}

.book-detail .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 404 sayfası */

.undefined-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.undefined-page h1 {
  color: red;
}
